@{
    ViewData["Title"] = "QuotingDojo";
}

<div class="wrapper">
    <a href="/">Add a Quote</a>
    <h1>Here are the awesome quotes!</h1>
    @{
        foreach(var quote in @ViewBag.quotes)
        {
            <div class="quote">
                <p>"@quote.quote"</p>
                <p>-@quote.name at @quote.created_at</p>
            </div>
        }
    }
    
</div>
