<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div>
            <h3>The current time and date:</h3>
        </div>
        <div>
            <h2>@ViewBag.timedisplay</h2>
        </div>
    </body>
</html>